<div class="row">
    <div class="col-md-12 text-center">
        <h1>Create an article</h1>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <% if @article.errors.any? %>
            <h2 class="panel-title">The following errors prevented the article from getting created</h2>
            <div class="panel-body">
            <ul>
                <% @article.errors.full_messages.each do |msg| %>
                    <li>
                        <%= msg %>
                    </li>
                    <% end %>
            </ul>
            </div>
            <% end %>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <%= render "articles/form" %>
    </div>
</div>