<div class="row">
    <div class="col-md-12 text-center">
        <h1>All categories</h1>
    </div>
</div>

<% if logged_in? and current_user.admin? %>
    <div class="row">
        <div class="col-md-12">
            <%= link_to "Create category", new_category_path, class:"btn btn-primary" %>
        </div>
    </div>
    <% end %>

        <% @categories.each do |category| %>
            <div class="row">
                <div class="col-md-12">
                    <div class="card mt-3">
                        <div class="card-body">
                            <h5>
                                <%= link_to category.name, category_path(category) %>
                            </h5>
                            <p>
                                <%= pluralize(category.articles.count, "article") %>
                            </p>
                            <% if logged_in? and current_user.admin? %>
                                <%= link_to "Edit category", edit_category_path(category), class: "btn btn-warning" %>
                            <% end %>
                        </div>
                    </div>
                </div>
            </div>
            <% end %>