<div class="row">
    <div class="col-md-12 text-center">
        <h1>Create new category</h1>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <%= form_for @category do |f| %>
            <form>
                <div class="form-group">
                    <%= f.label :name %><br/>
                        <%= f.text_field :name, placeholder: "Enter name of category", class:"form-control" %>
                </div>
                <%= f.submit "Update", class: "btn btn-primary" %>
            </form>
            <% end %>
    </div>
</div>