<div class="row">
    <div class="col-md-12 text-center">
        <h1>Category:
            <%= @category.name %>
        </h1>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <%= render 'articles/article', obj: @category_articles %>
    </div>
</div>