<div class="row mt-3">
    <div class="col-md-6">
        <p>Readium (c) 2018</p>
        <p>Write, read, share your knowladge</p>
    </div>
    <div class="col-md-6">
        <li>
            <%= link_to "Users", users_path %>
        </li>
        <li>
            <%= link_to "Articles", articles_path %>
        </li>
        <li>
            <%= link_to "About", about_path %>
        </li>
    </div>
</div>